<div class="col-lg-12 col-md-12 col-sm-12">
    <h2 mat-dialog-title>Actualización de usuarios</h2>
    <br>
    <div mat-dialog-content>
        <!-- Formulario de actualización de usuario -->
        <form [formGroup]="formUpdateProjects">
            <div class="col-lg-12 col-md-12 col-sm-12 custom-margin">
                <div class="row">
                    <!-- Campo para el nombre -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="w-100" appearence="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                    </div>
                    
                    <!-- Campo para la descripción -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="w-100" appearence="outline">
                            <mat-label>Descripción</mat-label>
                            <input matInput formControlName="descripcion">
                        </mat-form-field>
                    </div>
   
                    <!-- Campo para asignar a un administrador -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="w-100" appearence="outline">
                            <mat-label>Administrador</mat-label>
                            <mat-select formControlName="administrador_id">
                                <mat-option value="">Seleccionar</mat-option>
                                <!-- Iterar sobre la lista de administradores existentes -->
                                @for (item of administratorsValue; track $index) {
                                    <mat-option [value]="item.id">{{ item.nombre }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <!-- Botones de acción -->
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button> <!-- Cancelar la operación -->
        <button mat-button cdkFocusInitial (click)="updateProjects()" [disabled]="formUpdateProjects.invalid">Actualizar</button> <!-- Actualizar el proyecto -->
    </mat-dialog-actions>
</div>
