
.content {
    background-image: url('../../../assets/images/dashboard-background.png');
    background-repeat: no-repeat;
    background-size: 100%; /* Cambia 70% al valor que desees */
    background-position: center;
    height: 50vh;
    width: 80%;
}